<!-- Team Section -->
<section id="listing" class="bg-light-gray">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Our Listing</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="testimonials" id="testimonials">
          <div class="container">
            <div id="demo" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="carousel-caption">
                    <p>
                      Exceptional service! I am extremely satisfied with my stay
                      and highly recommend it.
                    </p>
                    <div class="star_icons">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <!-- <img src="assets/img/logo.png"> -->
                    <div id="image-caption">Marie Dupont</div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="carousel-caption">
                    <p>
                      An amazing experience! The service was impeccable and the
                      staff went above and beyond to ensure our satisfaction.
                    </p>
                    <div class="star_icons">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                    </div>
                    <!-- <img src="https://i.imgur.com/QptVdsp.jpg" class="img-fluid"> -->
                    <div id="image-caption">Jean Martin</div>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="carousel-caption">
                    <p>
                      Disappointing experience. The amenities were not as
                      advertised and the customer service was lacking.
                    </p>
                    <div class="star_icons">
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star"></i>
                      <i class="fa-solid fa-star-half-stroke"></i>
                      <i class="fa-solid fa-star-half-stroke"></i>
                      <i class="fa-solid fa-star-half-stroke"></i>
                    </div>
                    <!-- <img src="https://i.imgur.com/jQWThIn.jpg" class="img-fluid"> -->
                    <div id="image-caption">Sarah Johnson</div>
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <div class="carosel">
                  <i class="fas fa-arrow-left"></i>
                </div>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <div class="carosel">
                  <i class="fas fa-arrow-right"></i>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mt-2">
        <a
          target="_blank"
          href="https://calendly.com/robin-mosetti/contactsimplestay?month=2023-05"
          class="page-scroll btn btn-xl"
          >Tell Me More</a
        >
      </div>
    </div>
  </div>
</section>
